.container {
  max-width: 120rem;
  margin: 8rem auto; // trick to center
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem; // for testing

  // we are using DESKTOP FIRST approach
  @media only screen and (max-width: $bp-largest) {
    margin: 0; // makes pink top margin disappear when we go < 1200 px (biggest)
    max-width: 100%; // make sure pink margin doesn't come back at 1100 px (big)
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between; // alignment along main axis
  align-items: center; // alignment along cross axis (vertically)

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap; // make search bar wrap to a new row (we will change order to 1 to make it last)
    align-content: space-around;
    height: 11rem;
  }

}

.content {
  display: flex;

    // we are using DESKTOP FIRST approach
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column; // move nav to top to give more room
    }

}

.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;

  display: flex;
  flex-direction: column; // change main axis from L-R to Top to Bottom (to push legal text go to bottom)
  justify-content: space-between;
}

.hotel-view {
  background-color: var(--color-white);
  // height: 80rem; // TEST: pretend there's lots of content in this div

  flex: 1; // grow as much as you can (use all available space)

}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  // we are using DESKTOP FIRST approach
  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  // make reviews stack up (vertically) when we run low on screen width
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }

}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%; // don't grow/don't shrink take 60% of space
  margin-right: 4.5rem;

    // we are using DESKTOP FIRST approach
    @media only screen and (max-width: $bp-medium) {
      padding: 2rem;
      margin-right: 3rem;
    }

    // make reviews stack up (vertically) when we run low on screen width
    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: 3rem;
    }

}

.user-reviews {
  flex: 1; // take remaining space (40%)

  display: flex;
  flex-direction: column;
  align-items: center;
}