.container {
  max-width: 120rem;
  margin: 8rem auto; // trick to center
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem; // for testing
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between; // alignment along main axis
  align-items: center; // alignment along cross axis (vertically)
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;

  display: flex;
  flex-direction: column; // change main axis from L-R to Top to Bottom (to push legal text go to bottom)
  justify-content: space-between;
}

.hotel-view {
  background-color: var(--color-white);
  // height: 80rem; // TEST: pretend there's lots of content in this div

  flex: 1; // grow as much as you can (use all available space)

}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%; // don't grow/don't shrink take 60% of space
  margin-right: 4.5rem;
}

.user-reviews {
  background-color: yellowgreen;
  flex: 1; // take remaining space (40%)
}